.card-info-list {
    &__li {
        list-style: none;
        margin: 0 0 15px;

        &:last-child {
            margin: 0;
        }

        span {
            font-weight: 600; 
        }
    }
}