* {
    margin: 0;
    padding: 0;
}

$btn-color: white;


.article-list {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 50px 0 40px;

    &__li {
        display: flex;
        flex-flow: row nowrap;
        width: 20%;
        margin: 0 10px 40px;
        list-style: none;
    }
}

.card {
    width: 100%;

    .card-header {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 0;

        &__image {
            width: 100%;
            height: 150px;
            margin: 0 0 20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


.btn-primary {
    color: $btn-color !important;
}