* {
  margin: 0;
  padding: 0;
}

.article-list {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 50px 0 40px;
}

.article-list__li {
  display: flex;
  flex-flow: row nowrap;
  width: 20%;
  margin: 0 10px 40px;
  list-style: none;
}

.card {
  width: 100%;
}

.card .card-header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0;
}

.card .card-header__image {
  width: 100%;
  height: 150px;
  margin: 0 0 20px;
}

.card .card-header__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-primary {
  color: white !important;
}
